<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавить товар</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<html>

<body>

<div th:replace="~{navigation :: navi(AddProduct)}"></div>
<div class="container">
    <form th:action="@{/product/add}" th:object="${product}" method="post">
        <div class="form-group">
            <label for="productTitle">Name</label>
            <input type="text" th:field="*{title}" class="form-control" id="productTitle" placeholder="Product name">
        </div>
        <div class="form-group">
            <label for="productCost">Price</label>
            <input th:field="*{price}" type="text" class="form-control" id="productCost" placeholder="Product price">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>